.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d); 
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item--has-notify:hover .header__notify{
    display: block;
    z-index: 1;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user{
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
    animation: fadeIn ease-in 0.2s;
}

.header__navbar-user-avt{
    border-radius: 50%;
    width: 22px;
    height: 22px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-item-name{
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}



.header__navbar-user-menu{
    position: absolute;
    z-index: 2;
    list-style: none;
    padding: 8px 0;
    top: calc(100% + 6px);
    right: 0;
    border-radius: 2px;
    width: 160px;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.header__navbar-user-menu::before{
    content: "";
    position: absolute;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 40px;
    top: -30px;
}

.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 100%;
    height: 8px;
}

.header__navbar-user-item-separate{
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item a{
    text-decoration: none;
    font-size: 1.4rem;
    display: block;
    padding: 4px 16px;
    color: var(--text-color);
}

.header__navbar-user-item a:hover{
    background-color: #fafafa;
}

.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link
.header__navbar-icon{
    display: inline-flex;
    justify-content: center;
}


.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover
.header__navbar-icon:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--strong{
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    border-left: 1px solid #FB9086;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2){
    margin-left: 5px;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 6px;
}

.header__navbar-title-no--pointer{
    cursor: text;
    color: var(--white-color);
}
/* Header QR code */
.header__qr{
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: -6px;
    top: 118%;
    padding: 8px;
    display: none; 
    animation: fadeIn ease-out 0.7s;
    z-index: 1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.header__qr::before{
    content: "";
    position: absolute;
    width: 100%;
    display: block;
    height: 18%;
    left: 0;
    top: -16px;
}

.header__qr-img{
    width: 100%;
    border-radius: 2px;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-dowload-img{
    height: 16px;
}
/* Header Notifycation */
.header__notify{
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    background-color: var(--white-color);
    transform-origin: 90% top;
    animation: headerNotifyGrowth ease-in 0.3s;
    display: none;
}

.header__notify::before{
    content: "";
    position: absolute;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 0px;
    top: -30px;
}

.header__notify::after{
    content: "";
    position: absolute;
    display: block;
    width: 94px;
    height: 20px;
    right: 0px;
    top: -18px;
}

@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    } 
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
    cursor: default;
}

.header__notify-header h3 {
    color: #999;
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 40px;
    margin-left: 12px;
}

.header__notify-list{
    padding-left: 0;
}

.header__notify-item:hover{
    background-color: #f1f1f1;
}

.header__notify--viewed{
    background-color: rgba(238, 77, 45, 0.1);
}

.header__notify-link{
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
 
}

.header__notify-img{
    object-fit: contain;
    width: 48px;
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.4rem;
}

.header__notify-description{
    display: block; 
    font-size: 1.3rem;
    line-height: 2.5rem;
    color: #756F6E;
    margin-top: 4px;
}

.header__notify-footer{
    display: flex;
}

.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 8px 48px ;
}

/* Auth-form Modal */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0px 32px;
}

.auth-form__header {
    margin-top: 20px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color)
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0px 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside{
    margin-top: 20px;
}
.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0px 12px;
}

.auth-form__text-link{
    color: var(--primary-color);
    text-decoration: none;
    
}

.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back{
    margin-right: 8px;
}

.auth-form__socials{
    background-color: #f5f5f5;
    padding: 18px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-icon{
    font-size: 1.8rem;
}

.auth-form__socials--facebook{
    background-color: #3a5a98;
    color: var(--white-color);
}

.auth-form__socials--facebook
.auth-form__socials-icon{
    color: var(--white-color);
}

.auth-form__socials-title {
    margin: 0 36px;
}

.auth-form__socials--google{
    background-color: var(--white-color);
    color: #666;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;

}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.5rem;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: 2px 16px 0 16px;
    border: 1px solid #EAEAEA;
}

.auth-form__help-forgot{
    color: var(--primary-color);
}

/* Header with search */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
}

.header__logo-link{
    color: transparent;
    text-decoration: none;
}

.header__logo-img{
    cursor: pointer;
    width: 150px;
}

.header__search{
    display: flex;
    align-items: center;
    background: var(--white-color);
    flex: 1;
    height: 40px;
    border-radius: 2px;
}

.header__cart { 
    width: 150px;
    text-align: center;
    z-index: 1;
}

.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.6rem;
    margin-top: 6px ;
}

.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-list{
    position: absolute;
    top: calc( 100% + 4px );
    right: -15px;
    background-color: var(--white-color);
    width: 400px; 
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    
}

.header__cart-list::after{
    content: "";
    position: absolute;
    display: block;
    right: 0px;
    top: -28px;
    border-width: 20px 40px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}
.header__cart-no-cart-img {
    width: 100%;
    display: none;
}

.header__cart-list--no-cart{
    padding: 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list--no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-list--no-cart-msg{
    font-size: 1.4rem;
    display: none;
}

.header__cart-notice{
    position: absolute;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    padding: 1px 7px;
    top: 0px;
    right: -1px;
}

/* Header Cart Item */
.header__cart-heading{
    text-align: left ;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item{
    padding-left: 0px;
    list-style: none;
    height: 40vh;
    overflow-y: auto;
}

.header__cart-item{
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.header__cart-item:hover{
    background-color: #F8F8F8;
}


.header__cart-img{
    width: 42px;
    height: 42px;
    margin-left: 10px;
    margin-right: 6px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name{
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 500;
    margin: 0;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply{
    color: #757575;
    font-size: 0.9rem;
    margin: 0 4px;
}

.header__cart-item-qnt{
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-body{
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description{
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__cart-item-remove:hover{
    color: var(--primary-color);
    cursor: pointer
}

.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #F05D41;
}

.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--black-color);
    padding: 0 16px;
    border-radius: 3px;
}

.header__search-select{
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label{
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 400;
}

.header__search-select-icon{
    color: #4A4A4A;
    margin: 0 16px 0 8px;
    position: relative;
    top: 0px;
}

.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover{
    background-color: #f16e54;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select:hover
.header__search-option {
    display: block;
}

.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 0;
}

.header__search-option{
    position: absolute;
    right: 0;
    top: calc(100% - 1px);
    list-style: none;
    width: 138px;
    box-shadow: 0 1px 2px #e6e6e6;
    padding-left: 0;
    border-radius: 3px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.header__search-option-item{
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-option-item:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-option-item i {
    color: var(--primary-color);
    font-size: 1.2rem;
    margin: 4px 8px 0 28px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-histoty {
    display: block;
}

/* Search history */
.header__search-histoty{
    position: absolute;
    top: calc(100% + 2px );
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 0 5px #666;
    display: none;
    z-index: 1;
}

.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    list-style: none;
    padding-left: 0;
    margin: 6px 0 0 ;
}

.header__search-history-item {
    text-decoration: none;
    padding: 0 12px;
    height: 36px;
}

.header__search-history-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-history-item:hover{
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 38px;
    display: block;
}

/* App container */

.app__container {
    background-color: #F5F5F5;
}

.app__content {
    padding-top: 36px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
}

.category__heading{ 
    margin-top: 0;
    font-size: 1.8rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category-list{
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 10px;
}

.category-item_link {
    position: relative;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
    display: block;
    padding: 4px 16px;
    transition: right linear 0.1s;
    right: 0;
}

.category-item_link:hover{
    color: var(--primary-color);
    right: -10px;
}
.category-item--active .category-item_link{
    color: var(--primary-color);
}

/* Home sort + filter */
.home-product{
    margin-bottom: 10px;
}

.home__filter {
    display: flex;
    background-color: rgba(0, 0, 0, 0.04);
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__page{
    display: flex;
    align-items: center;
}

.home__filter-label {
    color: #555;
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 16px;
}

.home__filter-btn{
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__page {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.home-filter-page-num{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter-page-current{
    color: var(--primary-color);
}

.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn{
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
    height: 100%;
}

.home-filter__page-btn:first-child{
    border-right: 1px solid #EEE;
}

.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

.home-filter__page-btn--disabled{
    background-color: #f9f9f9;
    color: #ccc;
    cursor: default;
}

/* Product item */
.home-product-item{
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(70, 55, 55, 0.1);
    transition: transform linear 0.1s;
    display: block;
    text-decoration: none;
}

.home-product-item:hover{
    transform: translateY(-2px);
    box-shadow: 0 1px 20px 0 rgba(70, 55, 55, 0.1);
}

.home-product-item__img{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.home-product-item__name{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item-price{
    display: flex;
    align-items: baseline;
}

.home-product-item-price-old{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    flex-wrap: nowrap;
    margin-left: 10px;
}

.home-product-item-price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 6px;
    margin-left: 10px;
}

.home-product-item-action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 4px;
}

.home-product-item-like{
    font-size: 1.3rem; 
}

i.home-product-item__liked-icon{
    display: none;
    color: #F63D30;
}

.home-product-item-like--liked .home-product-item__liked-icon{
    display: inline-block;
}

.home-product-item-like--liked .home-product-item__like-icon{
    display: none;
}

.home-product-item-rating{
    font-size: 1rem;
    color: #D5D5D5;
    margin: -1px 0 0 auto;
}

.home-product-item-star--gold{
    color: var(--star-gold-color);
}

.home-product-item__sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 4px;
}

.home-product-item-orgin{
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__favorite{
    position: absolute;
    top: 10px;
    margin-left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
    padding-right: 2px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favorite i {
    font-size: 0.9rem;
    margin-left: 4px;
    margin-right: 3px;
    color: var(--white-color);
}

.home-product-item__favorite span {
    color: var(--white-color);
}

.home-product-item__favorite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__sale-off{
    border-top-right-radius: 2px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.94);
    text-align: center;
}

.home-product-item__sale-off:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent ;
}

.home-product-item__sale-off-percent{
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.2rem;
    position: relative;
    top: -2px;
}

.home-product-item__sale-off-label{
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 600;
    position: relative;
    top: -12px;
}

.home-product__pagination {
    margin-top: 48px;
    margin-bottom: 32px;
}


/* Footer */

.footer {
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer__list {
    padding-left: 0;
    list-style: none;
}

.footer__list-item-link {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 300;
    color: #737373;
    padding: 0 4px;
    display: block;
    margin-bottom: 4px;
}

.footer__list-item-link:hover {
    color: var(--primary-color);
}

.footer__list-item-icon{
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__download{
    display: flex;
}

.footer__download-qr{
    --height: 80px;
    width: var(--height);
    height: var(--height);
    border: 1px solid var(--border-color);
}

.footer__download-apps{
    margin-left: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer__download-app-img{
    height: 20px;
}

.footer__bottom{
    padding: 10px 0;
    background-color: #F5F5F5;
    margin-top: 36px;
}

.footer__text{
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
    color: #737373;
}